@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

body{
    background: linear-gradient(rgba(9, 117, 121, 0.3),rgba(174, 192, 153, 0.7)), url(/src/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo{
    transform: scale(0.4);
}

#navegacion{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}


.title {
    background-color: rgb(141, 238, 102);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nosotros{
    background-color: rgba(10, 144, 144,0.5);
    border-radius: 20px;
    padding: 2%;
    margin: 5%;
}

.formulario{
    background-color: rgba(173, 255, 180, 0.5);
    border-radius: 20px;
    padding: 2%;
    margin: 5%;
}

footer{
    background-color: #b6dffc;
    border-radius: 20px;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin: 10px;
}



.redes {
    font-size: 1.3rem;
    color: rgb(48, 80, 149);
    opacity: 50%;
    text-decoration: none;
}

.redes:hover {
    opacity: 100%;
    text-decoration: none;
}

.title-note{
    background-color: rgb(252, 252, 106);
    font-size: 3rem;
    border-radius: 20px;
}

.title-cel{
    background-color: rgb(252, 252, 106);
    font-size: 3rem;
    border-radius: 20px;
}

#masvendidos{
    background: linear-gradient(rgba(250, 237, 116, 0.3),rgba(171, 255, 74, 0.7));
    border-radius: 20px;
    padding: 1%;
    margin-top: 2%;
}

#masvendidos h3{
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 20px;
    text-shadow: 2px 2px 2px black;
    color: white;
}


.description{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    color: black;
    font-weight: bold;
}

.price{
    font-size: 1.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.iva{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.priceFinal{
    color: grey;
}

#number{
    text-align: center;
}

.selectProduct{
    visibility: hidden;
    
}





#productSeven{
    opacity: 0.7;
}
#productEight{
    opacity: 0.7;
}
#productNine{
    opacity: 0.7;
}
#productTen{
    opacity: 0.7;
}
#productEleven{
    opacity: 0.7;
}



#productOne:hover{
    border: 0.5px solid rgb(180, 180, 180);
    border-radius: 5px;   
}
#productTwo:hover{
    border: 0.5px solid rgb(180, 180, 180);
    border-radius: 5px;   
}
#productThree:hover{
    border: 0.5px solid rgb(180, 180, 180);
    border-radius: 5px;   
}
#productFour:hover{
    border: 0.5px solid rgb(180, 180, 180);
    border-radius: 5px;   
}
#productFive:hover{
    border: 0.5px solid rgb(180, 180, 180);
    border-radius: 5px;   
}
#productSix:hover{
    border: 0.5px solid rgb(180, 180, 180);
    border-radius: 5px;   
}


#productOne:hover .selectProduct{ 
    visibility: visible;
}

#productTwo:hover .selectProduct{ 
    visibility: visible;
}

#productThree:hover .selectProduct{ 
    visibility: visible;
}
#productFour:hover .selectProduct{ 
    visibility: visible;
}
#productFive:hover .selectProduct{ 
    visibility: visible;
}
#productSix:hover .selectProduct{ 
    visibility: visible;
}
